* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


html {
  /* width: 100vw; */
  width: var(--window-inner-width);
  height: 100vh;
}

body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  font-family: 'CirceBold', Arial, Helvetica, sans-serif;
  overflow-y: auto;
  font-weight: 700;
}