@import './variables.scss';

@function calculateRem($pxsize) {
  @return calc(($pxsize/16)) + rem;
}

.custom-checkbox {
  display: flex;
  align-items: center;
}

.custom-checkbox .checkbox {
  margin-right: calculateRem(10);
}

.custom-checkbox input {
  -webkit-appearance: none;
  position: absolute;
}

.checkbox {
  position: relative;
  width: calculateRem(24);
  height: calculateRem(24);
  border: calculateRem(2) solid $color_white;
  background: $color_white;
  border-radius: calculateRem(8);
}

.checkmark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: auto;
  display: none;
}

.custom-checkbox input:checked ~ .checkbox .checkmark {
  display: block;
}

.custom-checkbox input:checked ~ .checkbox {
  background: $color_blue;
  border: calculateRem(2) solid $color_blue;
}
