// @font-face {
//   font-family: 'CirceBold';
//   src: url('../fonts/CirceBold.eot');
//   src:
//     url('../fonts/CirceBold.eot?#iefix') format('embedded-opentype'),
//     url('../fonts/CirceBold.woff') format('woff'),
//     url('../fonts/CirceBold.ttf') format('truetype');
//   font-style: normal;
//   font-weight: 700;
// }

// @font-face {
//   font-family: 'CirceRegular';
//   src: url('../fonts/CirceRegular.eot');
//   src:
//     url('../fonts/CirceRegular.eot?#iefix') format('embedded-opentype'),
//     url('../fonts/CirceRegular.woff') format('woff'),
//     url('../fonts/CirceRegular.ttf') format('truetype');
//   font-style: normal;
//   font-weight: 400;
// }

@font-face {
  font-family: 'CirceRegular';
  src: url('../fonts/CRC35.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'CirceRegular';
  src: url('../fonts/CRC55.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}
