@import '../styles/mixins.scss';
@import '../styles/variables.scss';

@function calculateRem($pxsize) {
  @return calc(($pxsize/16)) + rem;
}

.MuiContainer-root.modal_success {
  max-width: calculateRem(580) !important;
  min-width: calculateRem(360);
  width: 100%;
  min-height: calculateRem(490);
  background-color: $color_yellow;
  border-radius: calculateRem(36);
  padding: calculateRem(40) 0;
  @include flex_column;
  gap: calculateRem(20);
  .success_title {
    font-size: calculateRem(44);
    text-align: center;
    line-height: calculateRem(50);
  }
  .success_text {
    font-size: calculateRem(24);
    text-align: center;
    line-height: calculateRem(32);
  }
}
